<div class="container" id="app">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Todo's and Reminders</h3>
      <h6 class="card-subtitle">An Angular Application</h6>
      <p class="text-right">
  <span class="badge bagde-secondary">Last Update: {{ (lastUpdate | async) |date:'mediumTime' }} | Total items: {{ (todos | async).length}}</span>
</p>

<button class="btn btn-primary" (click)="clearTodos()">Delete All</button>
  
    </div>
    <app-todo-list></app-todo-list>
  </div>
</div>

<router-outlet></router-outlet>